
@import "tailwindcss";

body {
  @apply bg-[#faf5ff];
}
/* 
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
} */

.content-table th,
.content-table td {
  padding: 18px 15px;
}

.content-table thead tr th {
  width: 25%;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.expense-form input {
  padding: 15px;
  border: 2px solid #ddd;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
}